/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Varela+Round&display=swap');

/*valores por defecto*/
body {
    font-family: "Varela Round", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

h1{
    margin: 0;
}

#tablero {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

#mejor-puntaje {
    margin: 0px;
    padding-top: 20px;
}

.carta {
    width: 100px;
    height: 100px;
    background-color: #2196f3;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s, background-color 0.3s;
}

.carta.volteada {
    background-color: #ff9800;
    transform: rotateY(180deg);
}


button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: #af5e4c;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #9b584a;
}

.headStyle {
    background-color: #d58e23;
    padding: 10px 0 20px 0;
}

.backgroundDecoration {
    background-color: #dc9f1b;
    width: 100%;
    height: 100vh;
}

.ContenedorBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio, .ganador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #dc9f1b;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

#zonaDeJuego {
    display: none;
}

#pantalla-victoria {
    display: none;
}
